body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: rgba(255, 255, 255, 1);
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-navigation-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-navigation-list-anchor {
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-navigation-list-anchor:hover {
  color: #404bbf;
}
.header-navigation-list-anchor:focus {
  color: #404bbf;
}
.header-navigation-logo-iris {
  color: #2e2f42;
}


.address {
  font-style: normal;
}

.address-list-item-title {
  text-transform: none;
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-list-item-title:hover {
  color: #404bbf;
}
.address-list-item-title:focus {
  color: #404bbf;
}
.hero-banner {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(46, 47, 66, 1);
}
.hero-banner-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em 
}
.hero-banner-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 90, 229, 1);
  cursor: pointer;
}
.hero-banner-button:hover {
  background-color: rgba(64, 75, 191, 1);
}
.hero-banner-button:focus {
background-color: #404BBF;
}

.our-team {
  background-color: rgba(244, 244, 253, 1);
}
.our-team-list-item {
  background-color: rgba(255, 255, 255, 1);
}

.portfolio-list-heading,
.advanteges-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}


.advanteges-list-item-text,
.our-team-list-item-text,
.portfolio-list-item-text {
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.advanteges-title
{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-team-title {
  line-height: 1.11;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;

}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
   text-align: center;
   text-transform: capitalize;
}
.our-team-list-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

footer {
  color: rgba(244, 244, 253, 1);
  background-color: rgba(46, 47, 66, 1);
}
.footer-logo-iris {
  color: #f4f4fd;
}
.footer-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
  .footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}